
<div class="p-4 h4 container d-flex justify-content-between ">
    {% if(activeId > 0) %}
    <a class="category-link text-decoration-none" href="/">General</a>
    <a class="category-link text-decoration-none" href="/entertainment">Entertainment</a>
    <a class="category-link text-decoration-none" href="/business">Business</a>
    <a class="category-link text-decoration-none" href="/science">Science</a>
    <a class="category-link text-decoration-none" href="/health">Health</a>
    <a class="category-link text-decoration-none" href="/sports">Sports</a>
    <a class="category-link text-decoration-none" href="/technology">Tech</a>
    {% endif %}
</div>