<div class="p-5 text-center bg-image rounded-3 mb-4 border-bottom border-top" style="
    background-image: url('https://image.shutterstock.com/image-illustration/abstract-glowing-wide-blue-breaking-260nw-2155217881.jpg');
    height: 400px;
  ">
    {% if(activeId == false) %}
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <a class="btn btn-outline-light btn-lg" href="/register" role="button">Register to Post and more</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>