<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand"><h1 class="h2">News</h1></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home </a>
                </li>


                <li class="nav-item">
                    <a href="/contacts" class="nav-link">Contacts</a>
                </li>
                {% if(activeId > 0) %}

                    <li class="nav-item">
                        <a href="/articles" class="nav-link">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a href="/articles/create" class="nav-link">Add Article</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                {% endif %}
                {% if(activeId == false) %}
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Register</a>
                    </li>

                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>