{% extends "base.html.twig" %}

{% block body %}

    <div class="container flex-column">
        <h1 class="h1 text-center ms-3 mt-4">Contact Me</h1>
    </div>
    <br>

    <div class="container iframe-map p-4">
        <iframe class="rounded-3 card" src="https://maps.google.com/maps?q=riga&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                style="width: 90%; height: 500px" allowfullscreen></iframe>
    </div>



{% endblock %}